* {
    font-family: 'Courier New', Courier, monospace;
    padding: 0;
    margin: 0;
}

#heading {
    background-color: lightblue;
    text-align: center;
    color: white;
    padding: 20px;
    margin: 0 20px 20px
}

#list {
    background-color: lightcoral;
    color: darkcyan;
    text-align: center;
    padding: 20px;
    margin: 0 auto;
    width: 500px;
}

.sinigang, .beefSteak, .chickenPizza {
    margin: 10px;
}